<div id="mblinkai" title="Book Service Appointment Here">
    <div id="chat-presenter">
        <div id="chat-head" class="chat-head">
            <div id="chat-head-online">
            </div>
            <div id="chat-head-small"></div>
            <img id="chat-head-image" src="https://ddm2s7p54russ.cloudfront.net/calendar.svg">
            <div id="chat-head-text">
                <div id="fixed-text">24hr Schedule </div>
                <div id="rotating-text">Service</div>
            </div>
        </div>
    </div>
</div>